:root {
    --text-color: #1a1c20;
    --link-color: #f4f4f4;
    --background-color: #eeeff1;
    font-size: 16px; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem; /* Adjust this value based on the height of your nav bar */
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    color: var(--text-color); /* all links inherit color defined in :root */
    text-decoration: none; /* No underlines */
}

nav {
    background-color: #bfd6c4;
    display: flex;
    justify-content: space-between;     /*positions left n right elements on opp ends*/
    padding: 0 0;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;  /*nav bar appears above all other elements*/
    background-color: rgba(171, 148, 126, 0.8);
    backdrop-filter: blur(5px);
}

nav .left a {
    margin-left: 0.8rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

nav .right a:hover{
    color: #f4f4f4;
    transition: color 0.3s ease-in-out;
}

/* Section Styles */
section {
    padding: 8rem 2rem;
    min-height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

section:nth-of-type(odd) {
    background-color: #f8f8f8; /* Light gray for odd sections */
}

section:nth-of-type(even) {
    background-color: #ffffff; /* White for even sections */
}

/* Section Heading Styles */
section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 4rem 1rem;    /*spacing below the heading*/
    letter-spacing: 1px;
    position: relative; /*heading is a ref point for ::after*/
}

section h2::after { 
    content: '';    /*empty pseudoelement(custom underline)*/
    position: absolute; /*relative to the parent*/
    width: 100px;
    height: 4px;
    background-color: #c3a995;
    bottom: -10px;  /*positioned 10px below the text*/
    left: 50%;  /*center it horizontally*/
    transform: translateX(-50%);    /*center it*/
    border-radius: 2px; /*give it rounded edge*/
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Centers the text */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

/*About Section*/
#about-section {
    min-height: 100vh;
    display: flex; 
    flex-direction: column; /*stack heading and icons vertically*/
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem; /*top & bottom, left & right*/
}

#about-section h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

#about-section .pic {
    margin: 2rem 2rem;
}

#about-section .pic img {
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    border-radius: 50%; /*make image circle*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about-section .bio {
    margin-bottom: 2rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

#about-section .bio p {
    font-size: 1.2rem;
    font-weight: 300;
}

#about-section .social-links {
    display: flex; 
    gap: 30px; /*spacing between icons */
    flex-wrap: wrap; /* icons wrap to next line on smaller screens */
}

#about-section .social-links i{
    font-size: 3rem;
    color: #ab947e;
    transition: transform 0.3s ease, color 0.3s ease;
}

#about-section .social-links i:hover{
    transform: scale(1.2);
    color: #c3a995;
}

/* Projects Section */
#projects-section {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#projects-section h2 {
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

.projects-scroll-container {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto; /* horizontal scrolling, when more projs in future */
    margin: 0 auto;
}

.project-box {
    flex: 0 0 16rem; /* Fixed width for the boxes */
    text-align: center;
    border: 1px solid #d7dbd8;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.project-box:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.project-box h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.project-box p {
    font-size: 0.85rem;
    font-weight: 300;
    color: #494a4a;
}

/*Skills Section*/
#skills-section {
    display: flex; 
    flex-direction: column; /*stack heading and icons vertically*/
    text-align: center;
    align-items: center;
    justify-content: center;
}

#skills-section h2{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
}

#skills-section .skills-container {
    display: flex; 
    gap: 30px; /*spacing between icons */
    flex-wrap: wrap; /* icons wrap to next line on smaller screens */
}

#skills-section i{
    font-size: 3rem;
    color: #ab947e;
    transition: transform 0.3s ease, color 0.3s ease;
}

#skills-section i:hover{
    transform: scale(1.2);
    color: #c3a995;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: hsl(28, 47%, 77%);
    color: #333;
}
